.info-modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: 1s all; }
  .info-modal__content {
    width: 40vw;
    height: 30vh;
    background: #fff;
    border: 10px outset lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px; }
    .info-modal__content--text {
      width: 100%;
      margin-top: 2vh;
      font-size: 0.9rem; }
    .info-modal__content--button {
      padding: 6px 8px;
      background: lightblue;
      border: none;
      color: #fff;
      cursor: pointer;
      height: 50px;
      width: 100px;
      display: block;
      transition: all 1s;
      outline: none; }
      .info-modal__content--button:hover {
        background: #5fb3ce; }

.experience::-webkit-scrollbar {
  width: 2px;
  height: 2px; }
.experience::-webkit-scrollbar-thumb {
  background: orange; }
.experience::-webkit-scrollbar-track {
  background: gray; }
.experience {
  scrollbar-face-color: orange;
  scrollbar-track-color: gray; }
.experience__list {
  padding: 0;
  list-style-type: '- '; }

.skills__table {
  width: 40vh;
  display: flex;
  justify-content: flex-start; }
  .skills__table--column {
    width: 20vh;
    text-align: center;
    font-size: 2rem; }
.skills__list {
  list-style-type: none;
  padding: 0;
  font-size: 1rem; }

.other {
  max-height: 45vh;
  overflow-y: scroll;
  padding: 10px 20px; }
  .other::-webkit-scrollbar {
    width: 3px;
    height: 3px; }
  .other::-webkit-scrollbar-thumb {
    background: gray; }
  .other::-webkit-scrollbar-track {
    background: orange; }
  .other {
    scrollbar-face-color: gray;
    scrollbar-track-color: orange; }
  .other__link {
    color: #000;
    text-decoration: none;
    font-weight: 700; }
    .other__link:active {
      color: #000; }
    .other__link:focus {
      color: #000; }
    .other__link:visited {
      color: #000; }

.contact {
  text-align: center; }
  .contact__heading {
    width: 15vh;
    display: inline; }
  .contact__list {
    display: block;
    padding: 0;
    list-style-type: none;
    width: 40vh;
    text-align: center; }
  .contact__link {
    color: #fff;
    text-decoration: none; }
    .contact__link:active {
      color: #fff; }
    .contact__link:focus {
      color: #fff; }
    .contact__link:visited {
      color: #fff; }
    .contact__link--download {
      color: #000;
      text-decoration: none;
      font-weight: 700; }
      .contact__link--download:active {
        color: #000; }
      .contact__link--download:focus {
        color: #000; }
      .contact__link--download:visited {
        color: #000; }

.flex-center, .section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.section {
  height: 100vh;
  width: 100vw;
  background-color: gray;
  position: absolute;
  transition: all 1s; }
  .section:nth-of-type(2n+1) {
    background-color: #fff; }
  .section__number {
    font-size: 40px;
    font-weight: 900;
    line-height: 70px; }
  .section__name {
    font-weight: 700;
    text-transform: uppercase; }
    .section__name__title:before {
      content: "";
      width: 20px;
      height: 3px;
      position: absolute;
      top: 65px;
      left: 20px;
      background: black; }
  .section__row {
    margin: 0 20px;
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: space-between; }
  .section__content {
    width: 50vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 300; }
    .section__content--heading {
      width: 15vh;
      display: inline; }
    .section__content--profile-image {
      border-radius: 50%;
      width: 20vh;
      height: auto;
      display: inline; }
    .section__content--profile-caption {
      width: 20vh;
      margin-top: -10vh; }
    .section__content--round {
      background: lightblue;
      border-radius: 50%; }
    .section__content--square {
      background: orange; }
    @media (max-width: 767px) {
      .section__content--heading {
        font-size: 1.2rem; }
      .section__content--profile-caption {
        font-size: 0.8rem; } }
  .section__bottom--text {
    margin-left: 20px;
    text-align: left;
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 600; }
  .section__bottom--links {
    transition: 1s all;
    cursor: pointer; }
  .section__bottom--links-square:hover {
    color: orange; }
  .section__bottom--links-round:hover {
    color: lightblue; }
  .section__bottom--nav {
    cursor: pointer;
    font-size: 2rem;
    line-height: 16px; }
  .section__bottom--nav-mobile {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    line-height: 16px; }
  @media (max-width: 767px) {
    .section__bottom--text {
      margin-left: 0;
      text-align: center;
      width: 220px; }
    .section__bottom--nav {
      display: none; }
    .section__bottom--nav-mobile {
      display: block;
      width: 13px; }
    .section__bottom .hidden-dash {
      display: none; } }

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Century Gothic", "sans-serif"; }

/*# sourceMappingURL=style.css.map */
