@import "../variables";
@import "experience";
@import "skills";
@import "other";
@import "contact";

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section {
  height: 100vh;
  width: 100vw;
  background-color: $gray;
  @extend .flex-center;
  position: absolute;
  transition: all 1s;

  &:nth-of-type(2n+1) {
    background-color: $white;
  }

  &__number {
    font-size: 40px;
    font-weight: 900;
    line-height: 70px;
  }

  &__name {
    font-weight: 700;
    text-transform: uppercase;

    &__title {
      &:before {
        content: "";
        width: 20px;
        height: 3px;
        position: absolute;
        top: 65px;
        left: 20px;
        background: black;
      }
    }
  }

  &__row {
    margin: 0 20px;
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 50vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 300;

    &--heading {
      width: 15vh;
      display: inline;
    }

    &--profile-image {
      border-radius: 50%;
      width: 20vh;
      height: auto;
      display: inline;
    }

    &--profile-caption {
      width: 20vh;
      margin-top: -10vh;
    }

    &--round {
      background: $lightBlue;
      border-radius: 50%;
    }

    &--square {
      background: $orange;
    }

    @media (max-width: 767px) {
      &--heading {
        font-size: 1.2rem;
      }

      &--profile-caption {
        font-size: 0.8rem
      }
    }
  }

  &__bottom {
    &--text {
      margin-left: 20px;
      text-align: left;
      text-transform: lowercase;
      font-size: 14px;
      font-weight: 600;
    }

    &--links {
      transition: 1s all;
      cursor: pointer;
    }

    &--links-square {
      &:hover {
        color: $orange;
      }
    }

    &--links-round {
      &:hover {
        color: $lightBlue;
      }
    }

    &--nav {
      cursor: pointer;
      font-size: 2rem;
      line-height: 16px;
    }

    &--nav-mobile {
      display: none;
      cursor: pointer;
      font-size: 2rem;
      line-height: 16px;
    }

    @media (max-width: 767px) {
      &--text {
        margin-left: 0;
        text-align: center;
        width: 250px;
      }
      &--nav {
        display: none;
      }
      &--nav-mobile {
        display: block;
        width: 13px;
      }

      .hidden-dash {
        display: none;
      }
    }
  }
}
